# Dependencies
node_modules

# Environment (secrets)
.env*.local

# Next.js Build Output
.next
out

# Local Assets (Dev only - big folder ignored)
# /assets

# OS Metadata
.DS_Store%

# Log Files
*.log